In [1]:
import numpy as np
import matplotlib.pyplot as plt
from gradient_descent import *
from stochastic_gradient_descent import *

## Data Cleaning

In [7]:
def load_data():
    """load data."""
    data = np.loadtxt(f"dataset/x_test.csv", delimiter=",", skiprows=1, dtype=str)
    return data

In [27]:
def convert_row_to_float(row):
    """Convert values in row to float or np.nan."""
    new_row = []
    for item in row:
        try:
            new_row.append(float(item))
        except ValueError:
            new_row.append(np.nan)
    return np.array(new_row)

In [32]:
def convert_all_rows(data):
    """Convert all rows to float or np.nan."""
    new_data = []
    for row in data:
        new_data.append(convert_row_to_float(row))
    return np.array(new_data)

In [9]:
numpy_data = load_data()
import pandas as pd
pandas_df = pd.read_csv("dataset/x_test.csv")

In [35]:
display(pandas_df)
print(numpy_data)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,44,2,2082015,2,8,2015,1100,2015000284,2015000284,1.0,...,2,2,3.0,3.0,4.0,1,1,1.0,1.0,2.0
1,27,1,1192015,1,19,2015,1100,2015008846,2015008846,NaN,...,2,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
2,35,5,5262015,5,26,2015,1100,2015001230,2015001230,1.0,...,2,2,2.0,2.0,3.0,1,1,1.0,1.0,2.0
3,23,2,2062015,2,6,2015,1100,2015000672,2015000672,1.0,...,4,2,2.0,2.0,3.0,1,1,1.0,1.0,2.0
4,10,12,12202015,12,20,2015,1100,2015001727,2015001727,1.0,...,4,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109374,25,9,9132015,9,13,2015,1100,2015001113,2015001113,1.0,...,9,9,1.0,2.0,1.0,1,1,1.0,1.0,9.0
109375,16,10,10072015,10,7,2015,1100,2015003064,2015003064,1.0,...,4,2,1.0,1.0,1.0,2,2,1.0,2.0,2.0
109376,9,11,11272015,11,27,2015,1200,2015006319,2015006319,1.0,...,9,9,3.0,3.0,4.0,9,9,9.0,9.0,NaN
109377,15,12,12122015,12,12,2015,1100,2015002454,2015002454,1.0,...,3,2,3.0,3.0,4.0,1,1,1.0,1.0,2.0
109378,45,12,12282015,12,28,2015,1100,2015006023,2015006023,1.0,...,2,2,1.0,1.0,2.0,1,1,NaN,NaN,2.0

[['44' '2' '2082015' ... '1' '1' '2']
 ['27' '1' '1192015' ... '' '' '2']
 ['35' '5' '5262015' ... '1' '1' '2']
 ...
 ['9' '11' '11272015' ... '9' '9' '']
 ['15' '12' '12122015' ... '1' '1' '2']
 ['45' '12' '12282015' ... '' '' '2']]

In [30]:
first_row = numpy_data[0]
new_first_row = convert_row_to_float(first_row)
# Compare the values of the firs row in the numpy array and the pandas dataframe
for i, j in zip(pandas_df.iloc[0,:].values, new_first_row):
    print(f"Pandas value: {i} | Numpy value: {j}")

Pandas value: 44.0 | Numpy value: 44.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2082015.0 | Numpy value: 2082015.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 8.0 | Numpy value: 8.0
Pandas value: 2015.0 | Numpy value: 2015.0
Pandas value: 1100.0 | Numpy value: 1100.0
Pandas value: 2015000284.0 | Numpy value: 2015000284.0
Pandas value: 2015000284.0 | Numpy value: 2015000284.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: nan | Numpy value: nan
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: nan | Numpy value: nan
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 88.0 | Numpy value: 88.0
Pandas value: 88.0 | Numpy value: 88.0
Pandas value: nan | Numpy value: nan
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: 6.0 | Numpy value: 6.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 7.0 | Numpy value: 7.0
Pandas value: 88.0 | Numpy value: 88.0
Pandas value: 99.0 | Numpy value: 99.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 118.0 | Numpy value: 118.0
Pandas value: 501.0 | Numpy value: 501.0
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: 888.0 | Numpy value: 888.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 555.0 | Numpy value: 555.0
Pandas value: 102.0 | Numpy value: 102.0
Pandas value: 555.0 | Numpy value: 555.0
Pandas value: 101.0 | Numpy value: 101.0
Pandas value: 204.0 | Numpy value: 204.0
Pandas value: 101.0 | Numpy value: 101.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 64.0 | Numpy value: 64.0
Pandas value: 101.0 | Numpy value: 101.0
Pandas value: 30.0 | Numpy value: 30.0
Pandas value: 73.0 | Numpy value: 73.0
Pandas value: 106.0 | Numpy value: 106.0
Pandas value: 200.0 | Numpy value: 200.0
Pandas value: 888.0 | Numpy value: 888.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 112014.0 | Numpy value: 112014.0
Pandas value: 5.0 | Numpy value: 5.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 5.0 | Numpy value: 5.0
Pandas value: 5.0 | Numpy value: 5.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 35.0 | Numpy value: 35.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 10.0 | Numpy value: 10.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 441011.0 | Numpy value: 441011.0
Pandas value: 8.278774782802406 | Numpy value: 8.278774782802406
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 8.278774782802406 | Numpy value: 8.278774782802406
Pandas value: 9.0 | Numpy value: 9.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 9.0 | Numpy value: 9.0
Pandas value: nan | Numpy value: nan
Pandas value: 22.601497203099736 | Numpy value: 22.601497203099736
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 9.0 | Numpy value: 9.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 13.0 | Numpy value: 13.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 80.0 | Numpy value: 80.0
Pandas value: 6.0 | Numpy value: 6.0
Pandas value: 61.0 | Numpy value: 61.0
Pandas value: 1.55 | Numpy value: 1.55
Pandas value: 53.52 | Numpy value: 53.52
Pandas value: 22.3 | Numpy value: 22.3
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 4.0 | Numpy value: 4.0
Pandas value: 9.0 | Numpy value: 9.0
Pandas value: 4.0 | Numpy value: 4.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.57 | Numpy value: 0.57
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.57 | Numpy value: 2.57
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 3.5 | Numpy value: 3.5
Pandas value: 3.3 | Numpy value: 3.3
Pandas value: 14.7 | Numpy value: 14.7
Pandas value: 2.52 | Numpy value: 2.52
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 30.0 | Numpy value: 30.0
Pandas value: 120.0 | Numpy value: 120.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 6.0 | Numpy value: 6.0
Pandas value: 30.0 | Numpy value: 30.0
Pandas value: 720.0 | Numpy value: 720.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 60.0 | Numpy value: 60.0
Pandas value: 1440.0 | Numpy value: 1440.0
Pandas value: 1500.0 | Numpy value: 1500.0
Pandas value: 30.0 | Numpy value: 30.0
Pandas value: 720.0 | Numpy value: 720.0
Pandas value: 750.0 | Numpy value: 750.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: 4.0 | Numpy value: 4.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0

In [37]:
data = convert_all_rows(numpy_data)
data

array([[4.4000000e+01, 2.0000000e+00, 2.0820150e+06, ..., 1.0000000e+00,
        1.0000000e+00, 2.0000000e+00],
       [2.7000000e+01, 1.0000000e+00, 1.1920150e+06, ...,           nan,
                  nan, 2.0000000e+00],
       [3.5000000e+01, 5.0000000e+00, 5.2620150e+06, ..., 1.0000000e+00,
        1.0000000e+00, 2.0000000e+00],
       ...,
       [9.0000000e+00, 1.1000000e+01, 1.1272015e+07, ..., 9.0000000e+00,
        9.0000000e+00,           nan],
       [1.5000000e+01, 1.2000000e+01, 1.2122015e+07, ..., 1.0000000e+00,
        1.0000000e+00, 2.0000000e+00],
       [4.5000000e+01, 1.2000000e+01, 1.2282015e+07, ...,           nan,
                  nan, 2.0000000e+00]])

## Linear Regression using Gradient Descent

In [ ]:
def mean_squared_error_gd(y, tx, initial_w, max_iters, gamma):
    """Calculate the mean squared error for gradient descent."""
    weights, losses = gradient_descent(y, tx, initial_w, max_iters, gamma)
    w = weights[-1]
    loss = losses[-1]
    return w, loss

## Linear Regression using Stochastic Gradient Descent

In [ ]:
def mean_squared_error_sgd(y, tx, initial_w, max_iters, gamma):
    """Calculate the mean squared error for stochastic gradient descent."""
    weights, losses = stochastic_gradient_descent(y, tx, initial_w, max_iters, gamma)
    w = weights[-1]
    loss = losses[-1]
    return w, loss

## Least squares regression

In [5]:
def least_squares(y, tx):
    """Calculate the least squares solution."""
    A = tx.T.dot(tx)
    b = tx.T.dot(y)
    w = np.linalg.solve(A, b)
    loss = compute_loss(y,tx,w)
    return w, loss

## Ridge Regression

In [6]:
def ridge_regression(y, tx, lambda_):
    """implement ridge regression."""
    aI = 2 * tx.shape[0] * lambda_ * np.identity(tx.shape[1])
    a = tx.T.dot(tx) + aI
    b = tx.T.dot(y)
    w = np.linalg.solve(a, b)
    loss = compute_loss(y,tx,w)
    return w, loss

## Logistic Regression

## Regularized Logistic Regression