In [2]:
import numpy as np
import matplotlib.pyplot as plt
from gradient_descent import *
from stochastic_gradient_descent import *

## Data Cleaning

In [2]:
def load_data():
    """load data."""
    data = np.loadtxt(f"dataset/x_test.csv", delimiter=",", skiprows=1, dtype=str)
    return data

In [3]:
def convert_row_to_float(row):
    """Convert values in row to float or np.nan."""
    new_row = []
    for item in row:
        try:
            new_row.append(float(item))
        except ValueError:
            new_row.append(np.nan)
    return np.array(new_row)

In [4]:
def convert_all_rows(data):
    """Convert all rows to float or np.nan."""
    new_data = []
    for row in data:
        new_data.append(convert_row_to_float(row))
    return np.array(new_data)

In [5]:
numpy_data = load_data()
import pandas as pd
pandas_df = pd.read_csv("dataset/x_test.csv")

In [6]:
display(pandas_df)
print(numpy_data)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,44,2,2082015,2,8,2015,1100,2015000284,2015000284,1.0,...,2,2,3.0,3.0,4.0,1,1,1.0,1.0,2.0
1,27,1,1192015,1,19,2015,1100,2015008846,2015008846,NaN,...,2,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
2,35,5,5262015,5,26,2015,1100,2015001230,2015001230,1.0,...,2,2,2.0,2.0,3.0,1,1,1.0,1.0,2.0
3,23,2,2062015,2,6,2015,1100,2015000672,2015000672,1.0,...,4,2,2.0,2.0,3.0,1,1,1.0,1.0,2.0
4,10,12,12202015,12,20,2015,1100,2015001727,2015001727,1.0,...,4,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109374,25,9,9132015,9,13,2015,1100,2015001113,2015001113,1.0,...,9,9,1.0,2.0,1.0,1,1,1.0,1.0,9.0
109375,16,10,10072015,10,7,2015,1100,2015003064,2015003064,1.0,...,4,2,1.0,1.0,1.0,2,2,1.0,2.0,2.0
109376,9,11,11272015,11,27,2015,1200,2015006319,2015006319,1.0,...,9,9,3.0,3.0,4.0,9,9,9.0,9.0,NaN
109377,15,12,12122015,12,12,2015,1100,2015002454,2015002454,1.0,...,3,2,3.0,3.0,4.0,1,1,1.0,1.0,2.0
109378,45,12,12282015,12,28,2015,1100,2015006023,2015006023,1.0,...,2,2,1.0,1.0,2.0,1,1,NaN,NaN,2.0

[['44' '2' '2082015' ... '1' '1' '2']
 ['27' '1' '1192015' ... '' '' '2']
 ['35' '5' '5262015' ... '1' '1' '2']
 ...
 ['9' '11' '11272015' ... '9' '9' '']
 ['15' '12' '12122015' ... '1' '1' '2']
 ['45' '12' '12282015' ... '' '' '2']]

In [7]:
first_row = numpy_data[0]
new_first_row = convert_row_to_float(first_row)
# Compare the values of the firs row in the numpy array and the pandas dataframe
for i, j in zip(pandas_df.iloc[0,:].values, new_first_row):
    print(f"Pandas value: {i} | Numpy value: {j}")

Pandas value: 44.0 | Numpy value: 44.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2082015.0 | Numpy value: 2082015.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 8.0 | Numpy value: 8.0
Pandas value: 2015.0 | Numpy value: 2015.0
Pandas value: 1100.0 | Numpy value: 1100.0
Pandas value: 2015000284.0 | Numpy value: 2015000284.0
Pandas value: 2015000284.0 | Numpy value: 2015000284.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: nan | Numpy value: nan
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: nan | Numpy value: nan
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 88.0 | Numpy value: 88.0
Pandas value: 88.0 | Numpy value: 88.0
Pandas value: nan | Numpy value: nan
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: 6.0 | Numpy value: 6.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 7.0 | Numpy value: 7.0
Pandas value: 88.0 | Numpy value: 88.0
Pandas value: 99.0 | Numpy value: 99.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 118.0 | Numpy value: 118.0
Pandas value: 501.0 | Numpy value: 501.0
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: 888.0 | Numpy value: 888.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 555.0 | Numpy value: 555.0
Pandas value: 102.0 | Numpy value: 102.0
Pandas value: 555.0 | Numpy value: 555.0
Pandas value: 101.0 | Numpy value: 101.0
Pandas value: 204.0 | Numpy value: 204.0
Pandas value: 101.0 | Numpy value: 101.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 64.0 | Numpy value: 64.0
Pandas value: 101.0 | Numpy value: 101.0
Pandas value: 30.0 | Numpy value: 30.0
Pandas value: 73.0 | Numpy value: 73.0
Pandas value: 106.0 | Numpy value: 106.0
Pandas value: 200.0 | Numpy value: 200.0
Pandas value: 888.0 | Numpy value: 888.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 112014.0 | Numpy value: 112014.0
Pandas value: 5.0 | Numpy value: 5.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 5.0 | Numpy value: 5.0
Pandas value: 5.0 | Numpy value: 5.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 35.0 | Numpy value: 35.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 10.0 | Numpy value: 10.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 441011.0 | Numpy value: 441011.0
Pandas value: 8.278774782802406 | Numpy value: 8.278774782802406
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 8.278774782802406 | Numpy value: 8.278774782802406
Pandas value: 9.0 | Numpy value: 9.0
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: nan | Numpy value: nan
Pandas value: 9.0 | Numpy value: 9.0
Pandas value: nan | Numpy value: nan
Pandas value: 22.601497203099736 | Numpy value: 22.601497203099736
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 9.0 | Numpy value: 9.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 13.0 | Numpy value: 13.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 80.0 | Numpy value: 80.0
Pandas value: 6.0 | Numpy value: 6.0
Pandas value: 61.0 | Numpy value: 61.0
Pandas value: 1.55 | Numpy value: 1.55
Pandas value: 53.52 | Numpy value: 53.52
Pandas value: 22.3 | Numpy value: 22.3
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 4.0 | Numpy value: 4.0
Pandas value: 9.0 | Numpy value: 9.0
Pandas value: 4.0 | Numpy value: 4.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.57 | Numpy value: 0.57
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.57 | Numpy value: 2.57
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 3.5 | Numpy value: 3.5
Pandas value: 3.3 | Numpy value: 3.3
Pandas value: 14.7 | Numpy value: 14.7
Pandas value: 2.52 | Numpy value: 2.52
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 30.0 | Numpy value: 30.0
Pandas value: 120.0 | Numpy value: 120.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 6.0 | Numpy value: 6.0
Pandas value: 30.0 | Numpy value: 30.0
Pandas value: 720.0 | Numpy value: 720.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 0.0 | Numpy value: 0.0
Pandas value: 60.0 | Numpy value: 60.0
Pandas value: 1440.0 | Numpy value: 1440.0
Pandas value: 1500.0 | Numpy value: 1500.0
Pandas value: 30.0 | Numpy value: 30.0
Pandas value: 720.0 | Numpy value: 720.0
Pandas value: 750.0 | Numpy value: 750.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 2.0 | Numpy value: 2.0
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: 3.0 | Numpy value: 3.0
Pandas value: 4.0 | Numpy value: 4.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 1.0 | Numpy value: 1.0
Pandas value: 2.0 | Numpy value: 2.0

In [8]:
data = convert_all_rows(numpy_data)
data

array([[4.4000000e+01, 2.0000000e+00, 2.0820150e+06, ..., 1.0000000e+00,
        1.0000000e+00, 2.0000000e+00],
       [2.7000000e+01, 1.0000000e+00, 1.1920150e+06, ...,           nan,
                  nan, 2.0000000e+00],
       [3.5000000e+01, 5.0000000e+00, 5.2620150e+06, ..., 1.0000000e+00,
        1.0000000e+00, 2.0000000e+00],
       ...,
       [9.0000000e+00, 1.1000000e+01, 1.1272015e+07, ..., 9.0000000e+00,
        9.0000000e+00,           nan],
       [1.5000000e+01, 1.2000000e+01, 1.2122015e+07, ..., 1.0000000e+00,
        1.0000000e+00, 2.0000000e+00],
       [4.5000000e+01, 1.2000000e+01, 1.2282015e+07, ...,           nan,
                  nan, 2.0000000e+00]])

In [9]:
# Count the number of NaNs in each column
number_of_nans = pandas_df.isnull().sum()
# Sort in ascending order
number_of_nans.sort_values(inplace=True)
for index, value in zip(number_of_nans.index, number_of_nans.values):
    print(f"Column {index} has {value} NaNs")
# This shows that for some columns we essentially have no meaningful data.

Column _STATE has 0 NaNs
Column _EDUCAG has 0 NaNs
Column _INCOMG has 0 NaNs
Column _SMOKER3 has 0 NaNs
Column _RFSMOK3 has 0 NaNs
Column DRNKANY5 has 0 NaNs
Column DROCDY3_ has 0 NaNs
Column _RFBING5 has 0 NaNs
Column _DRNKWEK has 0 NaNs
Column _RFDRHV5 has 0 NaNs
Column _MISFRTN has 0 NaNs
Column EMPLOY1 has 0 NaNs
Column _MISVEGN has 0 NaNs
Column _FRTRESP has 0 NaNs
Column _VEGRESP has 0 NaNs
Column RENTHOM1 has 0 NaNs
Column EDUCA has 0 NaNs
Column MARITAL has 0 NaNs
Column SEX has 0 NaNs
Column _FRTLT1 has 0 NaNs
Column _CHLDCNT has 0 NaNs
Column _RFBMI5 has 0 NaNs
Column _AGE_G has 0 NaNs
Column _AGE80 has 0 NaNs
Column _STSTR has 0 NaNs
Column _RAWRAKE has 0 NaNs
Column _WT2RAKE has 0 NaNs
Column _DUALUSE has 0 NaNs
Column _LLCPWT has 0 NaNs
Column _RFHLTH has 0 NaNs
Column _HCVU651 has 0 NaNs
Column _RFHYPE5 has 0 NaNs
Column _CHOLCHK has 0 NaNs
Column CHCKIDNY has 0 NaNs
Column _LTASTH1 has 0 NaNs
Column _ASTHMS1 has 0 NaNs
Column _PRACE1 has 0 NaNs
Column _MRACE1 has 0 NaNs
Column _HISPANC has 0 NaNs
Column _RACE has 0 NaNs
Column _RACEG21 has 0 NaNs
Column _RACEGR3 has 0 NaNs
Column _AGEG5YR has 0 NaNs
Column _AGE65YR has 0 NaNs
Column _CASTHM1 has 0 NaNs
Column ADDEPEV2 has 0 NaNs
Column QSTVER has 0 NaNs
Column CHCCOPD1 has 0 NaNs
Column HAVARTH3 has 0 NaNs
Column HLTHPLN1 has 0 NaNs
Column _VEGETEX has 0 NaNs
Column MENTHLTH has 0 NaNs
Column PHYSHLTH has 0 NaNs
Column GENHLTH has 0 NaNs
Column _TOTINDA has 0 NaNs
Column MAXVO2_ has 0 NaNs
Column FC60_ has 0 NaNs
Column PAMISS1_ has 0 NaNs
Column _PACAT1 has 0 NaNs
Column _PAINDX1 has 0 NaNs
Column _PA150R2 has 0 NaNs
Column MEDCOST has 0 NaNs
Column _PA300R2 has 0 NaNs
Column _PASTRNG has 0 NaNs
Column _PAREC1 has 0 NaNs
Column _PASTAE1 has 0 NaNs
Column _RFSEAT2 has 0 NaNs
Column _RFSEAT3 has 0 NaNs
Column _PSU has 0 NaNs
Column SEQNO has 0 NaNs
Column DISPCODE has 0 NaNs
Column IYEAR has 0 NaNs
Column IDAY has 0 NaNs
Column IMONTH has 0 NaNs
Column IDATE has 0 NaNs
Column FMONTH has 0 NaNs
Column _PA30021 has 0 NaNs
Column CHECKUP1 has 0 NaNs
Column PERSDOC2 has 0 NaNs
Column _VEG23 has 0 NaNs
Column CHCOCNCR has 0 NaNs
Column CHCSCNCR has 0 NaNs
Column _VEGLT1 has 0 NaNs
Column ASTHMA3 has 0 NaNs
Column CVDSTRK3 has 0 NaNs
Column _FRT16 has 0 NaNs
Column BPHIGH4 has 0 NaNs
Column _FRUITEX has 0 NaNs
Column BLOODCHO has 0 NaNs
Column CHILDREN has 1 NaNs
Column DIABETE3 has 2 NaNs
Column _STRWT has 4 NaNs
Column VETERAN3 has 5 NaNs
Column QSTLANG has 8 NaNs
Column _LMTWRK1 has 640 NaNs
Column _LMTACT1 has 640 NaNs
Column _LMTSCL1 has 640 NaNs
Column _DRDXAR1 has 640 NaNs
Column INCOME2 has 786 NaNs
Column INTERNET has 1044 NaNs
Column WEIGHT2 has 1301 NaNs
Column HEIGHT3 has 1430 NaNs
Column _RACE_G1 has 1797 NaNs
Column QLACTLM2 has 2268 NaNs
Column USEEQUIP has 2535 NaNs
Column BLIND has 2701 NaNs
Column DECIDE has 2841 NaNs
Column DIFFWALK has 3000 NaNs
Column DIFFDRES has 3104 NaNs
Column DIFFALON has 3258 NaNs
Column SMOKE100 has 3498 NaNs
Column USENOW3 has 3657 NaNs
Column HTM4 has 3782 NaNs
Column ALCDAY5 has 3932 NaNs
Column HTIN4 has 4230 NaNs
Column FRUITJU1 has 6922 NaNs
Column FRUIT1 has 7224 NaNs
Column WTKG3 has 7516 NaNs
Column FVBEANS has 7523 NaNs
Column FVGREEN has 7767 NaNs
Column FVORANG has 7954 NaNs
Column VEGETAB1 has 8216 NaNs
Column EXERANY2 has 8795 NaNs
Column _BMI5 has 8856 NaNs
Column _BMI5CAT has 8856 NaNs
Column FRUTDA1_ has 9105 NaNs
Column GRENDAY_ has 9499 NaNs
Column STRENGTH has 9587 NaNs
Column FTJUDA1_ has 9602 NaNs
Column ORNGDAY_ has 9736 NaNs
Column BEANDAY_ has 9948 NaNs
Column SEATBELT has 10033 NaNs
Column FLUSHOT6 has 10252 NaNs
Column VEGEDA1_ has 10263 NaNs
Column PNEUVAC3 has 10384 NaNs
Column _AIDTST3 has 10751 NaNs
Column HIVTST6 has 10751 NaNs
Column _FRUTSUM has 10903 NaNs
Column STRFREQ_ has 10933 NaNs
Column _VEGESUM has 12687 NaNs
Column _RFCHOL has 14799 NaNs
Column TOLDHI2 has 14799 NaNs
Column CHOLCHK has 14799 NaNs
Column _CHISPNC has 30195 NaNs
Column EXRACT11 has 35963 NaNs
Column METVL11_ has 36258 NaNs
Column EXEROFT1 has 36379 NaNs
Column EXERHMM1 has 36469 NaNs
Column EXRACT21 has 36567 NaNs
Column ACTIN11_ has 36983 NaNs
Column PAFREQ1_ has 37066 NaNs
Column PA1VIGM_ has 37188 NaNs
Column METVL21_ has 37442 NaNs
Column PA1MIN_ has 37547 NaNs
Column PAVIG11_ has 37838 NaNs
Column PADUR1_ has 37918 NaNs
Column ACTIN21_ has 38140 NaNs
Column _MINAC11 has 38325 NaNs
Column _MINAC21 has 38904 NaNs
Column PAVIG21_ has 38941 NaNs
Column PAMIN11_ has 39006 NaNs
Column PAMIN21_ has 39577 NaNs
Column _DUALCOR has 41027 NaNs
Column CELLFON3 has 46082 NaNs
Column CTELENUM has 46083 NaNs
Column PVTRESD1 has 46083 NaNs
Column CPDEMO1 has 46083 NaNs
Column NUMHHOL2 has 46083 NaNs
Column STATERES has 46084 NaNs
Column NUMADULT has 46090 NaNs
Column NUMMEN has 46116 NaNs
Column NUMWOMEN has 46116 NaNs
Column MSCODE has 47091 NaNs
Column POORHLTH has 53343 NaNs
Column AVEDRNK2 has 56978 NaNs
Column DRNK3GE5 has 57087 NaNs
Column MAXDRNKS has 57179 NaNs
Column EXEROFT2 has 60544 NaNs
Column EXERHMM2 has 60585 NaNs
Column PAFREQ2_ has 61076 NaNs
Column PADUR2_ has 61670 NaNs
Column IMFVPLAC has 62099 NaNs
Column FLSHTMY2 has 62332 NaNs
Column CSTATE has 63296 NaNs
Column CTELNUM1 has 63296 NaNs
Column CELLFON2 has 63296 NaNs
Column CADULT has 63296 NaNs
Column PVTRESD2 has 63296 NaNs
Column LANDLINE has 63468 NaNs
Column SMOKDAY2 has 63792 NaNs
Column HHADULT has 64622 NaNs
Column BPMEDS has 65438 NaNs
Column SXORIENT has 67923 NaNs
Column TRNSGNDR has 67947 NaNs
Column _FLSHOT6 has 70476 NaNs
Column _PNEUMO2 has 70476 NaNs
Column LMTJOIN3 has 75758 NaNs
Column ARTHDIS2 has 75803 NaNs
Column ARTHSOCL has 75851 NaNs
Column JOINPAIN has 76489 NaNs
Column LASTSMK2 has 79186 NaNs
Column CIMEMLOS has 80518 NaNs
Column HIVTSTD3 has 81184 NaNs
Column WHRTST10 has 81214 NaNs
Column CAREGIV1 has 82209 NaNs
Column CRGVEXPT has 88258 NaNs
Column PREDIAB1 has 88801 NaNs
Column PDIABTST has 88801 NaNs
Column SCNTMEL1 has 91255 NaNs
Column SCNTMNY1 has 92182 NaNs
Column _CPRACE has 93159 NaNs
Column _CRACE1 has 93159 NaNs
Column PREGNANT has 93173 NaNs
Column STOPSMK2 has 94097 NaNs
Column RCSGENDR has 94602 NaNs
Column _CLLCPWT has 94607 NaNs
Column RCSRLTN2 has 94640 NaNs
Column ASTHNOW has 94702 NaNs
Column DIABAGE2 has 95224 NaNs
Column BLDSTOOL has 95829 NaNs
Column HADSIGM3 has 95837 NaNs
Column CASTHDX2 has 96411 NaNs
Column WTCHSALT has 99096 NaNs
Column DRADVISE has 99107 NaNs
Column TETANUS has 99271 NaNs
Column LASTSIG3 has 99603 NaNs
Column HADSGCO1 has 99603 NaNs
Column SCNTLWK1 has 99927 NaNs
Column SCNTPAID has 100758 NaNs
Column SCNTWRK1 has 100767 NaNs
Column INSULIN has 102083 NaNs
Column BLDSUGAR has 102083 NaNs
Column FEETCHK2 has 102083 NaNs
Column DOCTDIAB has 102085 NaNs
Column CHKHEMO3 has 102086 NaNs
Column EYEEXAM has 102086 NaNs
Column DIABEDU has 102086 NaNs
Column DIABEYE has 102086 NaNs
Column FEETCHK has 102155 NaNs
Column SHINGLE2 has 102443 NaNs
Column SCNTLPAD has 103001 NaNs
Column LONGWTCH has 103005 NaNs
Column CRGVREL1 has 103399 NaNs
Column CRGVLNG1 has 103406 NaNs
Column CRGVHRS1 has 103412 NaNs
Column CRGVPRB1 has 103422 NaNs
Column CRGVPERS has 103427 NaNs
Column CRGVHOUS has 103433 NaNs
Column CRGVMST2 has 103448 NaNs
Column HADMAM has 103753 NaNs
Column HADPAP2 has 103758 NaNs
Column HPVTEST has 103762 NaNs
Column HADHYST2 has 103814 NaNs
Column LASTPAP2 has 104143 NaNs
Column ADPLEASR has 104288 NaNs
Column ADDOWN has 104291 NaNs
Column ADSLEEP has 104294 NaNs
Column ADENERGY has 104296 NaNs
Column ADEAT1 has 104297 NaNs
Column ADFAIL has 104299 NaNs
Column ADTHINK has 104301 NaNs
Column ADMOVE has 104305 NaNs
Column MISTMNT has 104308 NaNs
Column ADANXEV has 104309 NaNs
Column EMTSUPRT has 104522 NaNs
Column LSATISFY has 104524 NaNs
Column LSTBLDS3 has 104539 NaNs
Column ARTTODAY has 104561 NaNs
Column ARTHEXER has 104563 NaNs
Column ARTHWGT has 104563 NaNs
Column ARTHEDU has 104565 NaNs
Column CVDASPRN has 104773 NaNs
Column HOWLONG has 104833 NaNs
Column CDHOUSE has 106113 NaNs
Column CDASSIST has 106114 NaNs
Column CDSOCIAL has 106120 NaNs
Column CDDISCUS has 106126 NaNs
Column ASPUNSAF has 106135 NaNs
Column NUMPHON2 has 106141 NaNs
Column HPVADVC2 has 106617 NaNs
Column HPLSTTST has 107679 NaNs
Column PCPSAAD2 has 107693 NaNs
Column PSATEST1 has 107694 NaNs
Column PCPSADI1 has 107694 NaNs
Column PCPSARE1 has 107694 NaNs
Column CASTHNO2 has 107727 NaNs
Column PROFEXAM has 107989 NaNs
Column RLIVPAIN has 108017 NaNs
Column RDUCHART has 108018 NaNs
Column RDUCSTRK has 108018 NaNs
Column LENGEXAM has 108189 NaNs
Column CDHELP has 108293 NaNs
Column PCPSARS1 has 108419 NaNs
Column PSATIME has 108419 NaNs
Column VIDFCLT2 has 108586 NaNs
Column VIPRFVS2 has 108590 NaNs
Column VIREDIF3 has 108590 NaNs
Column VIINSUR2 has 108591 NaNs
Column VIGLUMA2 has 108592 NaNs
Column VICTRCT4 has 108592 NaNs
Column VIMACDG2 has 108592 NaNs
Column VIEYEXM2 has 108743 NaNs
Column HPVADSHT has 109033 NaNs
Column CCLGHOUS has 109117 NaNs
Column VINOCRE2 has 109120 NaNs
Column HAREHAB1 has 109141 NaNs
Column ASTHMAGE has 109147 NaNs
Column PCPSADE1 has 109174 NaNs
Column STREHAB1 has 109215 NaNs
Column ASATTACK has 109231 NaNs
Column ASACTLIM has 109232 NaNs
Column ASRCHKUP has 109232 NaNs
Column ASYMPTOM has 109234 NaNs
Column ASTHMED3 has 109235 NaNs
Column ASINHALR has 109235 NaNs
Column ASNOSLEP has 109273 NaNs
Column ASERVIST has 109300 NaNs
Column ASDRVIST has 109301 NaNs
Column PCDMDECN has 109308 NaNs
Column LADULT has 109366 NaNs
Column COLGHOUS has 109366 NaNs

In [14]:
print(f"Total number of observations: {len(pandas_df)}")
print(f" 10% of the number of observations: {round(len(pandas_df) * 0.1)}")

Total number of observations: 109379
 10% of the number of observations: 10938

In [17]:
# Keep only the columns with less than 10% NaNs
columns_to_keep = []
for index, value in zip(number_of_nans.index, number_of_nans.values):
    if value < round(len(pandas_df) * 0.1):
        columns_to_keep.append(index)
# Keep only the columns with less than 10% NaNs
data_with_few_nans = pandas_df.loc[:, columns_to_keep]

In [19]:
pandas_df

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,44,2,2082015,2,8,2015,1100,2015000284,2015000284,1.0,...,2,2,3.0,3.0,4.0,1,1,1.0,1.0,2.0
1,27,1,1192015,1,19,2015,1100,2015008846,2015008846,NaN,...,2,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
2,35,5,5262015,5,26,2015,1100,2015001230,2015001230,1.0,...,2,2,2.0,2.0,3.0,1,1,1.0,1.0,2.0
3,23,2,2062015,2,6,2015,1100,2015000672,2015000672,1.0,...,4,2,2.0,2.0,3.0,1,1,1.0,1.0,2.0
4,10,12,12202015,12,20,2015,1100,2015001727,2015001727,1.0,...,4,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109374,25,9,9132015,9,13,2015,1100,2015001113,2015001113,1.0,...,9,9,1.0,2.0,1.0,1,1,1.0,1.0,9.0
109375,16,10,10072015,10,7,2015,1100,2015003064,2015003064,1.0,...,4,2,1.0,1.0,1.0,2,2,1.0,2.0,2.0
109376,9,11,11272015,11,27,2015,1200,2015006319,2015006319,1.0,...,9,9,3.0,3.0,4.0,9,9,9.0,9.0,NaN
109377,15,12,12122015,12,12,2015,1100,2015002454,2015002454,1.0,...,3,2,3.0,3.0,4.0,1,1,1.0,1.0,2.0
109378,45,12,12282015,12,28,2015,1100,2015006023,2015006023,1.0,...,2,2,1.0,1.0,2.0,1,1,NaN,NaN,2.0

In [18]:
data_with_few_nans

,_STATE,_EDUCAG,_INCOMG,_SMOKER3,_RFSMOK3,DRNKANY5,DROCDY3_,_RFBING5,_DRNKWEK,_RFDRHV5,...,ORNGDAY_,BEANDAY_,SEATBELT,FLUSHOT6,VEGEDA1_,PNEUVAC3,_AIDTST3,HIVTST6,_FRUTSUM,STRFREQ_
0,44,4,9,4,1,2,0,1,0,1,...,0.57,0.00,1.0,1.0,1.00,1.0,2.0,2.0,2.00,0.0
1,27,4,5,4,1,1,57,2,1200,2,...,0.33,0.50,1.0,1.0,0.33,2.0,2.0,2.0,2.00,0.0
2,35,4,5,4,1,1,13,1,93,1,...,1.00,0.07,1.0,1.0,1.00,1.0,2.0,2.0,2.00,1.0
3,23,3,9,1,2,1,3,1,23,1,...,0.33,1.17,1.0,1.0,0.67,1.0,2.0,2.0,1.00,0.0
4,10,4,5,4,1,2,0,1,0,1,...,0.29,0.43,1.0,2.0,1.00,7.0,2.0,2.0,1.29,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109374,25,3,5,4,1,1,3,1,23,1,...,0.14,0.14,1.0,1.0,1.00,1.0,9.0,7.0,1.00,NaN
109375,16,3,3,4,1,2,0,1,0,1,...,0.17,0.33,4.0,1.0,1.00,2.0,2.0,2.0,0.60,0.0
109376,9,4,3,3,1,2,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109377,15,3,5,3,1,1,7,1,47,1,...,0.43,0.43,1.0,1.0,1.00,1.0,2.0,2.0,2.00,3.0
109378,45,3,5,4,1,2,0,1,0,1,...,0.29,0.03,1.0,2.0,0.43,2.0,2.0,2.0,1.07,0.0

## Linear Regression using Gradient Descent

In [ ]:
def mean_squared_error_gd(y, tx, initial_w, max_iters, gamma):
    """Calculate the mean squared error for gradient descent."""
    weights, losses = gradient_descent(y, tx, initial_w, max_iters, gamma)
    w = weights[-1]
    loss = losses[-1]
    return w, loss

## Linear Regression using Stochastic Gradient Descent

In [ ]:
def mean_squared_error_sgd(y, tx, initial_w, max_iters, gamma):
    """Calculate the mean squared error for stochastic gradient descent."""
    weights, losses = stochastic_gradient_descent(y, tx, initial_w, max_iters, gamma)
    w = weights[-1]
    loss = losses[-1]
    return w, loss

## Least squares regression

In [5]:
def least_squares(y, tx):
    """Calculate the least squares solution."""
    A = tx.T.dot(tx)
    b = tx.T.dot(y)
    w = np.linalg.solve(A, b)
    loss = compute_loss(y,tx,w)
    return w, loss

## Ridge Regression

In [6]:
def ridge_regression(y, tx, lambda_):
    """implement ridge regression."""
    aI = 2 * tx.shape[0] * lambda_ * np.identity(tx.shape[1])
    a = tx.T.dot(tx) + aI
    b = tx.T.dot(y)
    w = np.linalg.solve(a, b)
    loss = compute_loss(y,tx,w)
    return w, loss

## Logistic Regression

In [5]:
def sigmoid_function(z):
    """Apply sigmoid function on t."""
    return 1 / (1 + np.exp(-z))

In [4]:
def calculate_loss_logistic(y, tx, w):
    """compute the cost by negative log likelihood."""
    pred = sigmoid_function(tx.dot(w))
    # We know that P(y=0|x) = 1 - P(y=1|x)
    loss = y.T.dot(np.log(pred)) + (1 - y).T.dot(np.log(1 - pred))
    return -(1/len(y)) * np.squeeze(- loss)

In [6]:
def calculate_gradient_logistic(y, tx, w):
    """compute the gradient of loss."""
    pred = sigmoid_function(tx.dot(w))
    grad = (1/len(y))* tx.T.dot(pred - y)
    return grad

In [7]:
def logistic_regression(y, tx, initial_w, max_iters, gamma):
    #Solve by maximizing the log likelihood
    w = initial_w
    for n_iter in range(max_iters):
        w = w - gamma * calculate_gradient_logistic(y, tx, w)
    loss = calculate_loss_logistic(y, tx, w)
    return w, loss

## Regularized Logistic Regression

In [8]:
def penalized_logistic_loss(y, tx, w, lambda_):
    loss = calculate_loss_logistic(y, tx, w) + lambda_ * np.squeeze(w.T.dot(w))
    return loss

def penalized_logistic_gradient(y, tx, w, lambda_):
    grad = calculate_gradient_logistic(y, tx, w) + 2 * lambda_ * w
    return grad

In [9]:
def penalized_logistic_regression(y, tx, w, lambda_, max_iters, gamma):
    for n_iter in range(max_iters):
        loss = penalized_logistic_loss(y, tx, w, lambda_)
        w = w - gamma * penalized_logistic_gradient(y, tx, w, lambda_)
    return w, loss